<% provide(:title, @post.title) %>
<div class="row">
	<h3><%= @post.title %></h3>
	<h5>Posted by <%= @post.user.name %> </h5>
	<section>
		<a href=<%= @post.link %>><%= @post.link %></a></br>
		<%= @post.content %>
	</section>	
</div>		
