<% provide(:title, @post.title) %>
<div class="row">
	<h3><%= @post.title %></h3>
	<h5>Posted by <%= @post.user.name %> </h5>
	<section>
		<a href=<%= @post.link %>><%= @post.link %></a></br>
		<%= @post.content %>
	</section>	
	<hr></hr>
	<section>
		<% @vote_old = @post.votes.find_by_user_id(current_user) %>
		<% upvotes = @post.votes.where(:up=>true).count %>
		<% downvotes = @post.votes.count - upvotes %>
		<% if  not @vote_old %>
			<h5>
				<%= link_to "upvotes", votes_path(up:true, post: @post, user: current_user), method: :post %> 
				<%= upvotes %> 
				<%= link_to "downvotes", votes_path(up:false, post: @post, user: current_user), method: :post %>  
				<%= downvotes %> 
			</h5>
		<% else %>
				<% up = @vote_old.up %>
				<% if up %>
					You upvoted this post. 
				<% else %>
				    You downvoted this post.
				<% end %>
				<%= link_to "unvote?", vote_path(@vote_old, post: @post), method: :delete %>
			<h5>
				upvotes <%= upvotes %> downvotes <%= downvotes %>
			</h5>
		<% end %>
	</section>
	<hr></hr>
	<section>
		<h4> Comments </h4>
		<%= will_paginate @comments %>
		<ol class="comments">
			<%= render @comments %>
		</ol>	
		<%= will_paginate @comments %>
	</section>
	<section>
		<h4> Write new Comment </h4>
		<%= render 'shared/comment_form' %>
	</section>
</div>		
